/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 17%;
}
img.icon {
    width: 10%;
}

a {
    color: #1B3762;
    text-decoration: none;
    background-color: transparent;
}

.card__title {
    color: #1B3762;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.25;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 188%;
    color: #D71A20;
}